.icon{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}
.segment .segment-button {
    background-color: white;
    color: red;
    border-color: grey;
}

.segment .segment-button.segment-activated {
    background-color: red;
    color: white;
    border-color: blue;
}